ClientImpression/Service References/WebServiceImpression/WebServiceImpression2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55969/WebServiceImpression.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" />
  <xs:element name="AjouterDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="document" nillable="true" type="q1:DocumentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="AjouterDocumentResult" nillable="true" type="q2:ImprimanteMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="document" nillable="true" type="q3:DocumentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImprimantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImprimantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="GetImprimantesResult" nillable="true" type="q4:ArrayOfImprimanteMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImprimante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImprimanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="GetImprimanteResult" nillable="true" type="q5:ImprimanteMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterImprimante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="imprimante" nillable="true" type="q6:ImprimanteMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterImprimanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerImprimante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="imprimante" nillable="true" type="q7:ImprimanteMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerImprimanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNbPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="document" nillable="true" type="q8:DocumentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNbPagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentNbPagesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempsPrevuPourImpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="imprimante" nillable="true" type="q9:ImprimanteMessage" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="document" nillable="true" type="q10:DocumentMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempsPrevuPourImpressionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTempsPrevuPourImpressionResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterTcpListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" minOccurs="0" name="listener" nillable="true" type="q11:TcpListenerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterTcpListenerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>