ClientImpression/Service References/WebServiceImpression/WebServiceImpression2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55969/WebServiceImpression.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" />
  <xs:element name="AjouterDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="document" nillable="true" type="q1:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="AjouterDocumentResult" nillable="true" type="q2:Imprimante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="document" nillable="true" type="q3:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImprimantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImprimantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="GetImprimantesResult" nillable="true" type="q4:ArrayOfImprimante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterImprimante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="imprimante" nillable="true" type="q5:Imprimante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterImprimanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerImprimante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="imprimante" nillable="true" type="q6:Imprimante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerImprimanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNbPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="document" nillable="true" type="q7:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNbPagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentNbPagesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempsPrevuPourImpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="imprimante" nillable="true" type="q8:Imprimante" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" minOccurs="0" name="document" nillable="true" type="q9:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempsPrevuPourImpressionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTempsPrevuPourImpressionResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>