ClientImpression/Service References/WebServiceImpression/WebServiceImpression.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServiceImpression" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55969/WebServiceImpression.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55969/WebServiceImpression.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55969/WebServiceImpression.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServeurImpression.Message" />
      <xsd:import schemaLocation="http://localhost:55969/WebServiceImpression.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceImpression.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebServiceImpression_AjouterDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:AjouterDocument" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_AjouterDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_SupprimerDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerDocument" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_SupprimerDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetImprimantes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImprimantes" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetImprimantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImprimantesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetImprimante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImprimante" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetImprimante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImprimanteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_AjouterImprimante_InputMessage">
    <wsdl:part name="parameters" element="tns:AjouterImprimante" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_AjouterImprimante_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterImprimanteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_SupprimerImprimante_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerImprimante" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_SupprimerImprimante_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerImprimanteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetDocumentNbPages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentNbPages" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetDocumentNbPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentNbPagesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetTempsPrevuPourImpression_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTempsPrevuPourImpression" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_GetTempsPrevuPourImpression_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTempsPrevuPourImpressionResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_AjouterTcpListener_InputMessage">
    <wsdl:part name="parameters" element="tns:AjouterTcpListener" />
  </wsdl:message>
  <wsdl:message name="IWebServiceImpression_AjouterTcpListener_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterTcpListenerResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebServiceImpression">
    <wsdl:operation name="AjouterDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/AjouterDocument" message="tns:IWebServiceImpression_AjouterDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/AjouterDocumentResponse" message="tns:IWebServiceImpression_AjouterDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimerDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/SupprimerDocument" message="tns:IWebServiceImpression_SupprimerDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/SupprimerDocumentResponse" message="tns:IWebServiceImpression_SupprimerDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImprimantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/GetImprimantes" message="tns:IWebServiceImpression_GetImprimantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/GetImprimantesResponse" message="tns:IWebServiceImpression_GetImprimantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImprimante">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/GetImprimante" message="tns:IWebServiceImpression_GetImprimante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/GetImprimanteResponse" message="tns:IWebServiceImpression_GetImprimante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjouterImprimante">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/AjouterImprimante" message="tns:IWebServiceImpression_AjouterImprimante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/AjouterImprimanteResponse" message="tns:IWebServiceImpression_AjouterImprimante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimerImprimante">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/SupprimerImprimante" message="tns:IWebServiceImpression_SupprimerImprimante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/SupprimerImprimanteResponse" message="tns:IWebServiceImpression_SupprimerImprimante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentNbPages">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/GetDocumentNbPages" message="tns:IWebServiceImpression_GetDocumentNbPages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/GetDocumentNbPagesResponse" message="tns:IWebServiceImpression_GetDocumentNbPages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTempsPrevuPourImpression">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/GetTempsPrevuPourImpression" message="tns:IWebServiceImpression_GetTempsPrevuPourImpression_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/GetTempsPrevuPourImpressionResponse" message="tns:IWebServiceImpression_GetTempsPrevuPourImpression_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjouterTcpListener">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceImpression/AjouterTcpListener" message="tns:IWebServiceImpression_AjouterTcpListener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceImpression/AjouterTcpListenerResponse" message="tns:IWebServiceImpression_AjouterTcpListener_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebServiceImpression" type="tns:IWebServiceImpression">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AjouterDocument">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/AjouterDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupprimerDocument">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/SupprimerDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImprimantes">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/GetImprimantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImprimante">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/GetImprimante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjouterImprimante">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/AjouterImprimante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupprimerImprimante">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/SupprimerImprimante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentNbPages">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/GetDocumentNbPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTempsPrevuPourImpression">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/GetTempsPrevuPourImpression" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjouterTcpListener">
      <soap:operation soapAction="http://tempuri.org/IWebServiceImpression/AjouterTcpListener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceImpression">
    <wsdl:port name="BasicHttpBinding_IWebServiceImpression" binding="tns:BasicHttpBinding_IWebServiceImpression">
      <soap:address location="http://localhost:55969/WebServiceImpression.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>